# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

.DS_Store
.Trashes
*.swp
xcode/fridge-magnet/DerivedData
xcode/fridge-magnet/fridge-magnet.xcodeproj/xcuserdata
xcode/fridge-magnet/fridge-magnet.xcodeproj/project.xcworkspace/xcuserdata

